body {
	background-image: url("../images/deathstar.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-position: bottom 10px right 10px;
	color: white;
}

.jumbotron {
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron h4 {
	color: yellow;
}

#logo {
	margin-left: auto;
	margin-right: auto;
    width: 25%;
}

/*.row {
	margin: 20px;
	border:	2px solid yellow;
	border-radius: 4px;
}*/

.characters, .players, .enemies, .fighters {
	width: 80%;
	border:	2px solid yellow;
	border-radius: 5px;
	margin: 10px;
	min-height: 230px;
}

.characters p, .players p, .enemies p, .fighters p {
	color: yellow;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: -10px;
}

.thumbnail {
	float: left;
	width: 15%;
	margin: 10px;
}

.btn {
	background-color: #a0a0a0;
	border-radius: 8px;
	padding: 10px;
	color: yellow;
	margin-left: 30px;
}

.characters > .thumbnail {
	background-color: #a0a0a0;
}

.players > .thumbnail {
	background-color: yellow;
}

.enemies > .thumbnail {
	background-color: red;
}

.fighters > .thumbnail {
	background-color: lightblue;
}

.caption > p {
	color: #585858;
	margin: -3px;
}

#playerNotification, #enemyNotification {
	margin-left: 40px;
	margin-top: 3px;
}
